In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('./DataSet_Test.xlsx')
data.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

Feature engineering

In [3]:
data["Price_total"] = data["Quantity"]*data["Price"]

In [4]:
data.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country,Price_total
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [5]:
data_TS =pd.DataFrame()

In [6]:
data_TS["date"] = data.Date
data_TS["price_total"] = data.Price_total
data_TS["quantity"] = data.Quantity

In [7]:
data_TS["quantity"] = data.Quantity

In [8]:
data_TS["price_unit"] = data.Price

In [9]:
data_TS

                      date  price_total  quantity  price_unit
0      2010-12-01 08:26:00        15.30         6        2.55
1      2010-12-01 08:26:00        20.34         6        3.39
2      2010-12-01 08:26:00        22.00         8        2.75
3      2010-12-01 08:26:00        20.34         6        3.39
4      2010-12-01 08:26:00        20.34         6        3.39
...                    ...          ...       ...         ...
522059 2011-12-09 12:50:00        10.20        12        0.85
522060 2011-12-09 12:50:00        12.60         6        2.10
522061 2011-12-09 12:50:00        16.60         4        4.15
522062 2011-12-09 12:50:00        16.60         4        4.15
522063 2011-12-09 12:50:00        14.85         3        4.95

[522064 rows x 4 columns]

In [10]:
data_TS = data_TS.set_index(['date'])

In [11]:
data_TS

                     price_total  quantity  price_unit
date
2010-12-01 08:26:00        15.30         6        2.55
2010-12-01 08:26:00        20.34         6        3.39
2010-12-01 08:26:00        22.00         8        2.75
2010-12-01 08:26:00        20.34         6        3.39
2010-12-01 08:26:00        20.34         6        3.39
...                          ...       ...         ...
2011-12-09 12:50:00        10.20        12        0.85
2011-12-09 12:50:00        12.60         6        2.10
2011-12-09 12:50:00        16.60         4        4.15
2011-12-09 12:50:00        16.60         4        4.15
2011-12-09 12:50:00        14.85         3        4.95

[522064 rows x 3 columns]

In [12]:
data_daily_ts = data_TS.resample('D').agg({'quantity': 'sum','price_total':'sum'})

In [13]:
data_daily_ts

            quantity  price_total
date
2010-12-01     26754     58405.41
2010-12-02     31304     47725.88
2010-12-03     12546     44366.86
2010-12-04         0         0.00
2010-12-05     16451     31774.95
...              ...          ...
2011-12-05     43792     87787.26
2011-12-06     30133     56713.21
2011-12-07     37722     71582.27
2011-12-08     34293     81410.86
2011-12-09     93979    200920.60

[374 rows x 2 columns]

In [14]:
data_daily_ts.to_csv("./data_daily_ts.csv")

In [15]:
data_daily_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 374 entries, 2010-12-01 to 2011-12-09
Freq: D
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   quantity     374 non-null    int64
 1   price_total  374 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 8.8 KB

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522064 entries, 0 to 522063
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   BillNo       522064 non-null  object
 1   Itemname     520609 non-null  object
 2   Quantity     522064 non-null  int64
 3   Date         522064 non-null  datetime64[ns]
 4   Price        522064 non-null  float64
 5   CustomerID   388023 non-null  float64
 6   Country      522064 non-null  object
 7   Price_total  522064 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 31.9+ MB

In [17]:
data.shape

(522064, 8)

In [18]:
data.BillNo.unique()

array([536365, 536366, 536367, ..., 581585, 581586, 581587], dtype=object)

In [19]:
data.Itemname.unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

In [20]:
data.CustomerID.unique()

array([17850., 13047., 12583., ..., 13298., 14569., 12713.])

In [21]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'Switzerland', 'Spain', 'Poland', 'Portugal', 'Italy',
       'Belgium', 'Lithuania', 'Japan', 'Iceland', 'Sweden', 'Austria',
       'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Unspecified', 'Brazil',
       'USA', 'Malta', 'RSA'], dtype=object)

## Para fazer
* Plot de vendas por pais
* plot de vendas por produtos
* plot de  correlação
* verificar possiveis ideias sobre Series Temporais (feito)
* predição de vendas no dia (fazer amanhã)